.articles {
    display: flex;
    padding-bottom: 4em;
    overflow: auto;
}

.articles_item {
    background: #fff;
    border-radius: 20px;
    min-width: 60%;
    margin-right: 20px;

    h3 {
        margin-top: 0;
        color: #000;
    }

    div {
        margin-bottom: 20px;
        color: #000;
    }
}

.articles_item--spacing {
    padding: 40px;
}

.articles_item--border {
    border: 1px solid var(--color_primary);
}

.bg-secondary .articles_item .btn {
    color: var(--primary_button_text_color);
    background-color: var(--primary_button_color);
}

@media screen and (min-width: 768px) {
    .articles_item {
        min-width: 30%;
    }
}

.articles_item-shadow {
    box-shadow: 38px 39px 70px -56px rgba(0, 0, 0, 1);
}