.column-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.column-area--alignment-left {
    justify-content: flex-start;
}

.column-area--alignment-right {
    justify-content: flex-end;
}

.column-area--icons .column-area__image {
    max-width: 150px;
}