header {
  border-bottom: 4px solid var(--color_primary);

  h3 {
    text-align: right;
    margin-bottom: 0;

    &:last-of-type {
      margin-top: 0;
    }

    a {
      color: #000;
    }
  }
}

.header-menu {
  ul {
    li {
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

.hamburger-icon {
  height: 25px;
  width: 30px;
  position: relative;

  i {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color_primary);
    position: absolute;
    top: calc(50% - 1px);

    &:first-of-type {
      position: absolute;
      top: 0;
    }

    &:last-of-type {
      position: absolute;
      top: calc(100% - 2px);
    }
  }
}

.bg-secondary .hamburger-icon i {
  background-color: var(--secondary_button_text_color);
}

.header-logo {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
  }

  img {
    height: auto;
    margin-right: var(--spacing_md);
  }

  h1 {
    margin: 0;
  }
  
  span {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.header-logo--small img {
  max-width: 150px;

  @media screen and (min-width: 768px) {
    max-width: 150px;
  }
}

.header-logo--medium img {
  max-width: 150px;

  @media screen and (min-width: 768px) {
    max-width: 200px;
  }
}

.header-logo--large img {
  max-width: 150px;

  @media screen and (min-width: 768px) {
    max-width: 250px;
  }
}

.header-contact {
  display: flex;
  justify-content: flex-end;

  svg {
    width: 20px;
    margin-right: var(--spacing_sm);
  }

  a {
    display: flex;
    padding-right: var(--spacing_sm);

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.header-contact--header-details-verticle {
  flex-direction: column;
  
  a {
    padding: 0 0 var(--spacing_sm) 0;
    justify-content: flex-end;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 10px;
    }
  }
}

.menu-item-has-children {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: calc(100% + 10px);
  right: calc(100% - 35px);
  padding: calc(var(--spacing_sm) / 2) var(--spacing_sm);
  background-color: var(--secondary_background_color);
  border-radius: 3px;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  width: 150px;

  &::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border: 10px solid transparent;
    border-bottom-color: var(--secondary_background_color);
    position: absolute;
    top: -20px;
    right: 10px;
  }

  .menu-item {
    padding: 0;
    a {
      display: block;
      padding: calc(var(--spacing_sm) / 2) 0;
      color: var(--secondary_background_text_color);
    }
  }
}

.menu-item-has-children--active .sub-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: all 0.2s ease-in-out;
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 0;
  left: calc(-80vw - 30px);
  background-color: var(--color_primary);
  height: 100%;
  width: 80vw;
  padding: 15px;
  transition: left 0.5s;

  ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  li {
    border-bottom: 1px solid #fff;
  }

  a {
    display: flex;
    color: #fff;
    padding: 10px 5px;
  }

  &.is-active {
    left: 0;
    transition: left 0.5s;
  }
}

.mobile-menu--footer {
  width: 100%;
  margin-top: auto;

  li:last-of-type {
    border-bottom: 0;
  }
}

.mobile-menu--footer-icon {
  display: block;
  width: 20px;
  margin-right: 10px;

  path {
    fill: #fff;
  }
}

.overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;

  &.is-active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s;
  }
}